<% if notice %>
<alert class="alert alert-info alert-full" ><%= notice %></alert>
<% end %>

<div class="center-content">
	<h1 style="line-height: 1.5;"><%= @news.title %></h1>
	<p class="show-subtitle">
		<%= @news.date %>
	</p>
	<br><br><br>
	<p class="show-subtitle">
	  <%= @news.content %>
	</p>

	<br><br>
	<p class="show-subtitle">En esta noticia: <%= @news.actor.name %></p>
	<br><br>

	<%- if user_signed_in? && current_user.role == "Admin" %>
	Herramientas de Administrador 
	<%= link_to 'Eliminar Noticia', @news, method: :delete, data: { confirm: 'Estás seguro?' }, class: "bright" %>
	<% end -%>
</div>
