<% if notice %>
<alert class="alert alert-info alert-full" ><%= notice %></alert>
<% end %>

<div class="center-content">
	<h1 style="line-height: 1.5;"><%= @news.title %></h1>
	<p class="show-subtitle">
		<%= @news.date %>
	</p>
	<br><br><br>
	<p class="show-subtitle">
	  <%= @news.content %>
	</p>

	<br><br>
	<p class="show-subtitle">En esta noticia: <%= @news.actor.name %></p>
</div>
