<!DOCTYPE html>
<html>
  <head>
    <title>Blockbuster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in?  %>
    <nav>
      <a href="/" class="logo">
        Blockbuster
        <%- if current_user.role == "Admin" %>
        | Admin
        <% end -%>
      </a>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "pull-right" %>
      <a href="/users/edit" class="pull-right">Ajustes</a>
    </nav>
    <div class="subnav">
      <a href="/shows">Series</a>
      <a href="/actors">Actores</a>
      <a href="/news">Noticias</a>
      <%- if current_user.role == "Admin" %>
        <a href="/users">Usuarios</a>
      <% end -%>
      <a href="/shows" class="pull-right">Buscar</a>
    </div>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>

</html>
