<!DOCTYPE html>
<html>
  <head>
    <title>Blockbuster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href="/" class="logo">
        Blockbuster
        <%- if user_signed_in? && current_user.role == "Admin" %>
        | Admin
        <% end -%>
      </a>
      <% if user_signed_in?  %>
      <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "pull-right" %>
      <a href="/users/edit" class="pull-right">Mi Cuenta</a>
      <% else %>
      <%= link_to "Iniciar sesión", new_user_session_path, method: :get, class: "pull-right" %>
      <%= link_to "Crear cuenta", new_user_registration_path, method: :get, class: "pull-right" %>
      <% end %>
    </nav>
    <div class="subnav">
      <a href="/shows">Series</a>
      <a href="/actors">Actores</a>
      <a href="/news">Noticias</a>
      <%- if user_signed_in? && current_user.role == "Admin" %>
        <a href="/users">Usuarios</a>
      <% end -%>
      <!-- BUSCAR -->
      <%= form_tag(shows_path, :method => "get") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Buscar" %>
      <%= submit_tag "Buscar", :title => nil %>
      <% end %>
    </div>
    <main>
      <%= yield %>
    </main>
  </body>

</html>
  