<%= form_for(show) do |f| %>
  <% if show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% show.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :genre %>
    <%= f.text_field :genre %>
  </div>

  <div class="field">
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </div>

  <div class="field">
    <%= f.label :rating_n %>
    <%= f.text_field :rating_n %>
  </div>

  <div class="field">
    <%= f.label :permission %>
    <%= f.text_field :permission %>
  </div>

  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>

  <div class="field">
    <%= f.label :language %>
    <%= f.text_field :language %>
  </div>

  <div class="field">
    <%= f.label :subtitles %>
    <%= f.text_field :subtitles %>
  </div>

  <div class="field">
    <%= f.label :actors %>
    <%= f.text_field :actors %>
  </div>

  <div class="field">
    <%= f.label :numberOfSeasons %>
    <%= f.text_field :numberOfSeasons %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
