<% if notice %>
<alert class="alert alert-info alert-full" ><%= notice %></alert>
<% end %>

<% if user_signed_in? && !@searching%>
<h1>Suscripciones</h1>
<section class="grid">
  <% current_user.subscriptions.each do |subscription| %>
    <%= link_to subscription.show, :style => "background-image: url(#{subscription.show.image})" do %>
      <div class="overlay">
        <h4>
          <%= subscription.show.title %> | <%= subscription.show.rating %> &#9733;
          <span><br><%= subscription.show.genre %></span>
        </h4>
      </div>
    <% end %>
  <% end %>
<% end %>

  <span style="display:block;clear:both;"></span>
</section>

<br><br>

<% if !@searching%>
<h1>Todas las Series</h1>
<% else %>
<h1>Resultados de búsqueda: <%= params[:search] %></h1>
<% end %>

<section class="grid">
  <% @shows.each do |show| %>
    <%= link_to show, :style => "background-image: url(#{show.image})" do %>
      <div class="overlay">
        <h4>
          <%= show.title %> | <%= show.rating %> &#9733;
          <span><br><%= show.genre %></span>
        </h4>
      </div>
    <% end %>
  <% end %>

  <span style="display:block;clear:both;"></span>
</section>




<br><br><br>

<%- if user_signed_in? && current_user.role == "Admin" %>
Herramientas de administrador
<%= link_to '+ Agregar Serie', new_show_path, class: "bright" %>
<% end -%>
