<p id="notice"><%= notice %></p>

<div class="center-content">
  <h1>
    <%= @show.title %>
    <%- if @show.rating %>
    <% @show.rating + "&#9733;" %>
    <% end -%>
  </h1>
  <p class="show-subtitle">
    <%= @show.genre %> | <%= @show.country %> | <%= @show.language %> | <%= @show.numberOfSeasons %> temporadas
  </p>
  <div class="show-image"></div>
  <p class="show-subtitle">
    Actores: <%= @show.actors %>
  </p>
  <p class="show-subtitle">
    Subtítulos: <%= @show.subtitles %>
  </p>


  <p>
    <strong>Permission:</strong>
    <%= @show.permission %>
  </p>


  <%- if current_user.role == "Admin" %>
  <%= link_to 'Edit', edit_show_path(@show) %> |
  <% end -%>
</div>
