<p id="notice"><%= notice %></p>

<h1>Actores</h1>

<section class="grid">
  <% @actors.each do |actor| %>
    <%= link_to actor do %>
      <h4>
        <%= actor.name %>
      </h4>
    <% end %>
  <% end %>

  <span style="display:block;clear:both;"></span>
</section>




<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= actor.name %></td>
        <td><%= link_to 'Show', actor %></td>
        <td><%= link_to 'Edit', edit_actor_path(actor) %></td>
        <td><%= link_to 'Destroy', actor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Actor', new_actor_path %>
