<h2>Editar cuenta</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <br><br>
    <div class="field">
      <%= f.label :Nueva_Contraseña %> <i>(dejar en blanco si no deseas cambiarla)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em>Mínimo <%= @minimum_password_length %> caracteres</em>
      <% end %>
    </div>
    <br>
    <div class="field">
      <%= f.label :Confirmar_contraseña %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <br><br>
    <div class="field">
      <%= f.label :facebook %><br />
      <%= f.text_field :facebook, autocomplete: "off" %>
    </div>

    <!-- <div class="field">
      <%= f.label :rol %><br />
      <%= f.text_field :role, autocomplete: "off" %>
    </div> -->

    <br><br><br>

    <div class="field">
      <%= f.label :contraseña_actual %> <i>(Debes ingresarla para validar los cambios)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Actualizar Información" %>
    </div>
  </fieldset>
<% end %>
<br><br>
<h3>Eliminar Cuenta</h3>
<p> <%= button_to "Eliminar cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete %></p>
